.bigCont{
    width: 100%;
    height: 100vh;
    background-color: rgba(193, 200, 228, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
}
.bigContDark{
    width: 100%;
    height: 100vh;
    background-color: rgba(3, 3, 3, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
}
.trailer{
    background: rgb(136,96,208);
    background: radial-gradient(circle, rgba(136,96,208,1) 0%, rgba(182,179,224,0.7) 79%, rgba(188,190,226,0.6) 90%, rgba(193,200,228,0.5) 100%);
    width: 80%;
    height: 70%;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.trailerDark{
    /*background: rgb(17,17,17);*/
    /*background: radial-gradient(circle, rgba(17,17,17,1) 0%, rgba(68,68,68,1) 0%, rgba(73,73,73,0.9) 0%, rgba(77,77,77,0.8) 0%, rgba(81,81,81,0.7) 0%, rgba(84,84,84,0.7035189075630253) 0%);*/
    background-color: rgba(0, 0, 0, 0.93);
    width: 80%;
    height: 80%;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.close{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 100;
    opacity: 1;
}
.smallCont{
    display: flex;
    flex-wrap: wrap;
}